<footer class="footer text-center p-3 bg-dark text-white">
  <div class="footer-columns">
    <!-- Columna 1 -->
    <div class="col-md-4 mb-4">
      <h5>Quizás te interese</h5>
      <a href="#">Nuestra Carta</a>
      <a href="#">Eventos</a>
      <a href="#">Reservas</a>
    </div>

    <!-- Columna 2 -->
    <div class="col-md-4 mb-4">
      <h5>Nosotros</h5>
      <a href="#">Sobre nosotros</a>
      <a href="#">Blog</a>
      <a href="#">Contacto</a>
    </div>

    <!-- Columna 3 -->
    <div class="col-md-4 mb-4">
      <h5>Contacto</h5>
      <a [routerLink]="['/Mapa']">C de Recoletos 18, Madrid</a>
      
      <!--<p>thebearrestaurante@gmail.com</p> -->
      <p>
        Lunes a Jueves: 20:00 - 02:00<br>
        Viernes y Sábado: 20:00 - 03:30<br>
        Domingo: 16:00 - 02:00
      </p>
    </div>
  </div>

  <hr>

  <p>© The Bear Restaurante</p>
  <div>
    <a href="#">Política de cookies</a> |
    <a href="#">Aviso legal</a> |
    <a href="#">Política de privacidad</a>
  </div>
</footer>
