<div class="app-wrapper d-flex flex-column min-vh-100">
<header class="header d-flex justify-content-between align-items-center p-3 bg-dark text-white">
  <a [routerLink]="['/Home']" routerLinkActive="router-link-active" class="text-white">
      <img src="/the_bear_logo.jpg" alt="Logo The Bear" >
     </a>

     <nav class="navbar navbar-expand-lg bg-white navbar-light bg-light">
        <div class="container">
            <button class="botonMenu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                ☰
            </button>
        </div>
     </nav>
</header>

</div>