<div class="app-wrapper d-flex flex-column min-vh-100">
<header class="header d-flex justify-content-between align-items-center p-3 bg-dark text-white">
  <a [routerLink]="['/Home']" routerLinkActive="router-link-active" class="text-white">
      <img src="/the_bear_logo.jpg" alt="Logo The Bear" >
     </a>
</header>

<!-- Fondo con imagen -->
<div class="container flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="login-container p-4 shadow-lg rounded">
    <h2 class="text-center mb-4">Inicia sesión en The Bear</h2>

    <!-- Formulario -->
    <form [formGroup]="formLogin" (ngSubmit)="LoginUser($event)">
      <!-- Correo -->
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Correo electrónico*"
          formControlName="email"
        />
          @if(formLogin.controls['email'].errors?.['required'] && formLogin.controls['email'].dirty){<span class="text-danger"><small>* Campo obligatorio</small></span>}
        
      </div>

      <!-- Contraseña -->
      <div class="input-group mb-3">
        <input
        [type]="pswdVisible() ? 'text' : 'password'"
         class="form-control"
          placeholder="Contraseña*"
          formControlName="password"
        />
        <span class="input-group-text" (click)="SetPswdVisible()" >
          <img src="https://cdn-icons-png.flaticon.com/512/159/159604.png" alt="icono ojo" style="height: 20px;">
        </span>
      </div>

      <!-- Botón -->
      <div class="d-grid">
        <button type="submit" class="btn btn-dark">Iniciar sesión</button>
      </div>
    </form>

    <p class="text-center mt-3">
      ¿No tienes una cuenta?
      <a [routerLink]="['/Usuario/Registro']" routerLinkActive="router-link-active" class="text-primary">Regístrate</a>
    </p>
  </div>
</div>

<app-footer></app-footer>
