<div class="card h-100 platito-card">
  <img [src]="this.plato()!.imagen" class="card-img-top mx-auto d-block" alt="{{ this.plato()!.nombre }}">
  
  <div class="card-body d-flex flex-column">
    <h5 class="card-title text-center">{{ this.plato()!.nombre }}</h5>
    <p class="card-text text-center fw-bold">{{ this.plato()!.precio }} €</p>

    <!-- Botón Añadir o Control de Cantidad -->
    @if(this.cantidadPlatos() == 0)
    {
      <button type="button" class="btn btn-primary mt-auto w-100" (click)="AddToOrder()">
        Añadir
      </button>
    }
    @else {
      <div class="input-group input-group-sm mt-auto">
        <button type="button" class="btn btn-primary btn-sm" (click)="ModificarCantidad('restar')">
          @if (this.cantidadPlatos() == 1)
          {
            <i class="fa-solid fa-trash text-white"></i>
          }
          @else {
            -
          }
        </button>

        <input type="text" 
               class="form-control text-center" 
               maxlength="2"
               [value]="this.cantidadPlatos()"
               (change)="SetCantidadPlatosFromInput($event)"
               (blur)="ModificarCantidad('modifica')" />

        <button type="button" class="btn btn-primary btn-sm" (click)="ModificarCantidad('sumar')">+</button>
      </div>
    }
  </div>
</div>
